<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>管理后台 - 图书管理</title>
    <#include "common/admin-css.html"/>
</head>
<body>
<div id="app" class="wrapper">
    <#include "common/admin-header.html"/>
    <header class="admin-header">
        <div class="single-column-layout single-column-layout-wide u-clearfix">
            <div class="u-float-left">
                <h1 class="admin-header-name">图书管理</h1>
                <div class="admin-header-desc"><p>添加书籍时只需要填写图书对应的豆瓣编号，服务端将自动从豆瓣获取书籍详细信息，请填写正确的豆瓣编号</p></div>
            </div>
            <div class="u-float-right">
                <b-button @click="showModal({})" variant="success">添加图书</b-button>
            </div>
        </div>
    </header>
    <div class="single-column-layout single-column-layout-wide admin-container">
        <b-table striped hover :items="books.list" :fields="fields"></b-table>
        <b-pagination size="md" align="right"
                      :total-rows="books.total" v-model="books.pager" per-page="15">
        </b-pagination>
    </div>
    <b-modal ref="confirmModal" centered
             title="风险提示"
             header-bg-variant="danger"
             header-text-variant="light"
             ok-title="确认"
             cancel-title="取消"
             cancel-variant="success"
             ok-variant="danger"
             @ok="del"
             @cancel="close">
        <p>删除此专题后，首页将不再显示，确认删除吗？</p>
    </b-modal>
    <b-modal ref="bookModal"
             :title="title"
             size="lg"
             ok-title="确认"
             cancel-title="取消"
             @ok="upsert"
             @cancel="close">
        <form @submit.stop.prevent="handleSubmit">
            <b-container fluid>
                <b-row>
                    <b-col>
                        <b-form-group horizontal
                                      :label-cols="2"
                                      label="图书豆瓣ID："
                                      label-for="input">
                            <b-form-input type="text"
                                          placeholder="请输入图书对应的豆瓣编号"
                                          required="true"
                                          v-model="book.doubanId"
                                          :state="state.douban"
                                          @change="changeDoubanId"
                                          aria-describedby="doubanIdFeedback">
                            </b-form-input>
                            <b-form-invalid-feedback id="doubanIdFeedback">
                                请输入图书对应的豆瓣编号
                            </b-form-invalid-feedback>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group horizontal
                                      :label-cols="2"
                                      label="图书京东购买连接："
                                      label-for="input">
                            <b-form-input type="text"
                                          placeholder="请输入图书京东购买连接"
                                          v-model="book.jingdongUrl">
                            </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
                <b-row>
                    <b-col>
                        <b-form-group horizontal
                                      :label-cols="2"
                                      label="图书多看购买链接："
                                      label-for="input">
                            <b-form-input type="text"
                                          placeholder="请输入图书多看购买链接"
                                          v-model="book.duokanUrl">
                            </b-form-input>
                        </b-form-group>
                    </b-col>
                </b-row>
            </b-container>
        </form>
    </b-modal>
</div>
<#include "common/admin-js.html"/>
<script>
    var getTopicList = function (vm) {
        HttpUtils.get('/v1/topic', null).done(function (data) {
            vm.topics = data;
        });
    };

    var upsert = function (e, vm) {
        e.preventDefault();
        if (!vm.topic.name || vm.topic.name.length > 10) {
            vm.state.name = false;
            return;
        }
        if (!!vm.topic.id) {
            HttpUtils.post('/v1/topic', vm.topic).done(function (data) {
                UiTools.alert('专题修改成功 !', 'success');
                getTopicList(vm);
                vm.topic = {};
                vm.$refs.topicModal.hide();
            })
        } else {
            HttpUtils.put('/v1/topic', vm.topic).done(function (data) {
                UiTools.alert('新的专题已添加 !', 'success');
                getTopicList(vm);
                vm.topic = {};
                vm.$refs.topicModal.hide();
            })
        }
    };

    var deleteTopic = function (vm, id) {
        HttpUtils.delete('/v1/topic/' + id, null).done(function (data) {
            UiTools.alert('专题已删除 !', 'success');
            getTopicList(vm);
        });
    };

    var app = new Vue({
        el: '#app',
        data: {
            title: null,
            fields: [
                { key: 'doubanId', label: '豆瓣编号' },
                { key: 'title', label: '图书名称' },
                { key: 'author', label: '作者' },
                { key: 'tag', label: '标签' },
                { key: 'publisher', label: '出版社' },
                { key: 'pubdate', label: '出版日期' },
            ],
            books: null,
            state: {
                name: null,
                desc: null,
                image: null
            }
        },
        created: function () {
            let self = this;
            self.$nextTick(function () {
                HttpUtils.get('/v1/topic', null).done(function (data) {
                    self.topics = data;
                });
            });
        },
        methods: {
            showModal: function (item) {
                if (!!item.id) {
                    this.title = '修改专题';
                    this.topic = JsonTools.toJson(item);
                } else {
                    this.title = '添加专题';
                }
                this.$refs.topicModal.show();
            },
            showConfirmModal: function (item) {
                this.topic = item;
                this.$refs.confirmModal.show();
            },
            upsert: function (e) {
                upsert(e, this);
            },
            del: function () {
                deleteTopic(this, this.topic.id);
            },
            close: function () {
                this.topic = {};
                this.$refs.topicModal.hide();
                this.$refs.comfirmModal.hide();
            },
            changeName: function () {
                if (!!this.topic.name && this.topic.name.length <= 10) {
                    this.state.name = true;
                }
            },
            changeDesc: function () {
                if (!!this.topic.desc && this.topic.desc.length <= 10) {
                    this.state.desc = true;
                }
            },
            changeImage: function () {
                if (!!this.topic.image && (this.topic.image.startsWith('http://', 0) || this.topic.image.startsWith('https://', 0))) {
                    this.state.image = true;
                }
            }
        }
    });
</script>
</body>
</html>