.category-header {
	padding-top: 95px;
}

.category-header-logo {
	float: left;
	width: 92px;
	padding-right: 20px;
}

.category-header-image {
	width: 92px;
}

.category-header-name {
	font-size: 24px;
	line-height: 1.2;
	padding: 5px 0;
}

.category-header-desc {
	font-size: 16px;
	color: rgba(0,0,0,.44);
	line-height: 1.4;
	margin-bottom: 5px;
}

.book-wrapper {
	 margin-top: 120px;
}

.book-wrapper {
	margin-top: 120px;
}

@media (max-width:900px) {
	.category-header {
		padding-top: 65px;
	}
	.book-wrapper {
		margin-top: 140px;
	}

	.book-wrapper {
		margin-top: 190px;
	}
}

.book-item {
	width: 450px;
	display: inline-block;
	margin: 0 10px 60px 0;
	height: 260px;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #fff;
}

.book-image {
	width: 40%;
	height: 260px;
	-webkit-animation: b 1s;
	animation: b 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.block-image {
	background-color: #f0f0f0;
	background-origin: border-box;
	background-position: 50%;
	background-size: cover;
	display: block;
	position: relative;
}

.book-title {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	color: rgba(0,0,0,.44);
	padding-top: 4px;
}

.rating {
	background: #f88e00 none repeat scroll 0 0;
	border-radius: 50px;
	bottom: 5%;
	color: #fff;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 5%;
	text-align: center;
	width: 30px;
}

.book-info {
	width: 50%;
    font-size: 13px;
	margin-right: 20px;
	float: right;
	margin-top: -260px;
}

.book-info .title {
    font-size: 15px;
    height: auto;
    margin: 0;
    color: #3377aa;
}

.book-info .badge {
	color: #f0f0f0;
	display: inline-block;
    padding: .25em .4em;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.book-info .douban {
    background: #00b73c;
}

.book-info .jingdong {
	background: #fa2037;
	margin-left: 10px;
}

.book-info .duokan {
	background: #ff7234;
	margin-left: 10px;
}

.reviews {
    color: #666;
    clear: both;
    padding-top: 10px;
}

.block-more {
	margin-bottom: 30px;
}