.category-header {
	padding-top: 95px;
}

.category-header-logo {
	float: left;
	width: 92px;
	padding-right: 20px;
}

.category-header-image {
	width: 92px;
}

.category-header-name {
	font-size: 24px;
	line-height: 1.2;
	padding: 15px 0 10px 0;
}

.category-header-desc {
	font-size: 18px;
	color: rgba(0,0,0,.44);
	line-height: 1.4;
	margin-bottom: 5px;
}

.movie-wrapper {
	 margin-top: 120px;
}

.book-wrapper {
	margin-top: 120px;
}

@media (max-width:900px) {
	.category-header {
		padding-top: 65px;
	}
	.movie-wrapper {
		margin-top: 140px;
	}

	.book-wrapper {
		margin-top: 190px;
	}
}

.movie-item {
	width: 17%;
	display: inline-block;
	margin: 0 10px 60px 0;
	height: 260px;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #fff;
}

@media (max-width:900px) {
	.movie-item {
		width: 46%;
	}
}

.movie-image {
	height: 260px;
	-webkit-animation: b 1s;
	animation: b 1s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.block-image {
	background-color: #f0f0f0;
	background-origin: border-box;
	background-position: 50%;
	background-size: cover;
	display: block;
	position: relative;
}

.movie-title {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	color: rgba(0,0,0,.44);
	padding-top: 4px;
}

.rating {
	background: #f88e00 none repeat scroll 0 0;
	border-radius: 50px;
	bottom: 5%;
	color: #fff;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	right: 5%;
	text-align: center;
	width: 30px;
}

.block-more {
	margin-bottom: 30px;
}