<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>${article.title} - MoonBlog</title>
    <meta name="description" content="${article.title} - 作者: chen.chuan,首发于Moondev">
    <#include "common/app-css.html"/>
</head>
<body>
<#include "common/app-header.html"/>
<div class="single-column-layout article-container">
    <div class="block-group u-padding-top50">
        <header class="entry-header">
            <h2 class="entry-title" itemprop="headline">${article.title}</h2>
            <div class="entry-meta">
                <time datetime="${article.publishTime}">${article.publishTime}</time>
                <span class="mid-dot-divider"></span>
                <span>阅读 ${article.viewCount}</span>
                <span class="mid-dot-divider"></span>
                <span>评论 ${article.commentCount}</span>
            </div>
        </header>
        <input type="hidden" id="article_id">
        <article id="article" class="markdown-section"></article>
    </div>
</div>
<div class="single-column-layout">
    <div id="commentEL" v-cloak>
        <meta v-bind:content="'UserComments:'+commentCount" itemprop="interactionCount">
        <h3 class="responses-title">{{commentCount}}条评论</h3>
        <ol id='comment-list' class="commentlist">
            <li v-for="item in comments" class="comment" itemtype="http://schema.org/Comment" v-bind:data-id="item.id"
                itemscope="" itemprop="comment">
                <div v-bind:id="'comment-' + item.id" class="comment-block">
                    <div class="comment-info u-clearfix">
                        <div class="comment-avatar">
                            <img height="40" width="40" class="avatar"
                                 v-bind:src="'https://secure.gravatar.com/avatar/' + item.emailHash + '?s=40&amp;d=mm&amp;r=x'">
                        </div>
                        <div class="comment-meta">
                            <div class="comment-author" itemprop="author">{{item.author}}
                                <span class="comment-reply-link u-cursorPointer"
                                      v-on:click="moveResponseForm(item.id,item.articleId,item.id)">回复</span>
                            </div>
                            <div class="comment-time" itemprop="datePublished" datetime="{{item.createdTime}}">
                                发布于{{item.createdTimeDesc}}
                            </div>
                        </div>
                    </div>
                    <div class="comment-content" itemprop="description">
                        <p>{{item.content}}</p>
                    </div>
                </div>
                <ol v-if="!!item.children && item.children.length > 0" class="children">
                    <li v-for="child in item.children" class="comment" v-bind:data-id="child.id">
                        <div v-bind:id="'comment-' + child.id" class="comment-block">
                            <div class="comment-info u-clearfix">
                                <div class="comment-avatar">
                                    <img height="40" width="40" class="avatar"
                                         v-bind:src="'https://secure.gravatar.com/avatar/' + child.emailHash + '?s=40&amp;d=mm&amp;r=x'">
                                </div>
                                <div class="comment-meta">
                                    <div class="comment-author" itemprop="author">{{child.author}}
                                        <span class="comment-reply-link u-cursorPointer"
                                              v-on:click="moveResponseForm(child.id,child.articleId,item.id)">回复</span>
                                    </div>
                                    <div class="comment-time" itemprop="datePublished"
                                         v-bind:datetime="child.createdTime">
                                        发布于{{child.createdTimeDesc}}
                                    </div>
                                </div>
                            </div>
                            <div class="comment-content" itemprop="description">
                                <p>
                                    <a v-bind:href="'#comment-' + child.parentId" rel="nofollow"
                                       class="u-color-red-purple"
                                       v-bind:data-id="child.parentId" class="purple atreply">@{{child.atAuthor}}</a>&nbsp;&nbsp;
                                    {{child.content}}
                                </p>
                            </div>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
        <div id="respond" class="respond">
            <h3 id="reply-title" class="comments-title">发表留言</h3>
            <div class="responsesForm">
                <p class="comment-note">
                    人生在世，错别字在所难免，无需纠正。
                </p>
                <div class="info">
                    <p>
                        <label for="author">昵称</label>
                        <input id="author" type="text" class="inputGroup" aria-required="true" v-model="comment.author">
                    </p>
                    <p class="comment-form-input">
                        <label for="email">邮箱</label>
                        <input id="email" class="inputGroup" type="text" aria-required="true"
                               v-model="comment.authorEmail">
                    </p>
                    <p class="comment-form-input">
                        <label for="url">网址</label>
                        <input id="url" class="inputGroup" type="text" v-model="comment.authorUrl">
                    </p>
                </div>

                <p class="comment-form-comment">
                    <label for="comment">评论</label>
                    <textarea id="comment" v-model="comment.content" class="inputGroup inputTextarea" rows="8"
                              cols="45"></textarea>
                </p>
                <div class="submit" v-on:click="addComment">提交评论</div>
                <input type="hidden" id="article_id" v-model="comment.articleId">
                <input type="hidden" id="comment_parent" v-model="comment.parentId">
                <input type="hidden" id="comment_root" v-model="comment.rootId">
            </div>
        </div>
    </div>
</div>
<#include "common/app-footer.html"/>
</body>
<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
<script src="http://apps.moondev.cn/js/hyperdown.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript">
    var vm = new Vue({
        el: '#commentEL',
        data: {
            comment: {
                author: CookieUtils.get('comment_author'),
                authorEmail: CookieUtils.get('comment_author_email'),
                authorUrl: CookieUtils.get('comment_author_url')
            },
            commentCount: 0,
            comments: []
        },
        created: function () {
            let self = this;
            self.$nextTick(function () {
                HttpUtils.get('/v1/comment/${article.id}', null).done(function (data) {
                    self.comments = data;
                    data.forEach(function (item) {
                        self.commentCount = self.commentCount + 1 + (!!item.children ? item.children.length : 0);
                    });
                });
            });
        },
        methods: {
            addComment: function () {
                if (!this.comment.author) {
                    UiTools.alert('请填写昵称!', 'error');
                    return;
                }
                if (!this.comment.authorEmail) {
                    UiTools.alert('请填写邮件地址!', 'error');
                    return;
                }
                if (!this.comment.content) {
                    UiTools.alert('你还没有写评论呢!', 'error');
                    return;
                }
                CookieUtils.set('comment_author', this.comment.author);
                CookieUtils.set('comment_author_email', this.comment.authorEmail);
                CookieUtils.set('comment_author_url', this.comment.authorUrl);
                this.comment.articleId = '${article.id}';
                HttpUtils.post('/v1/comment', this.comment).done(function (data) {
                    HttpUtils.get('/v1/comment/${article.id}', null).done(function (data) {
                        vm.comments = data;
                        data.forEach(function (item) {
                            vm.commentCount = vm.commentCount + 1 + (!!item.children ? item.children.length : 0);
                        });
                        vm.comment.content = null;
                        $("ol[id='comment-list']").append($('#respond'));
                    });
                });
            },
            moveResponseForm: function (commentId, articleId, rootId) {
                $("div[id='comment-" + commentId + "']").append($('#respond'));
                this.comment.articleId = articleId;
                this.comment.parentId = commentId;
                this.comment.rootId = rootId;
            }
        }
    });
    var parser = new HyperDown,
        html = parser.makeHtml(decodeURIComponent(escape(atob('${article.content}'))));
    document.getElementById("article").innerHTML = html;
</script>
</html>