<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0,minimal-ui">
    <title>归档</title>
    <link rel="stylesheet" href="/webapps/asserts/header.css" type="text/css" media="screen">
    <link rel="stylesheet" href="/webapps/asserts/archive.css" type="text/css" media="screen">
</head>

<body>
<#include "common/app-header.ftl"/>
<div class="single-column-layout single-column-layout-wide archive-wrapper">
    <div class="archive-list-wrapper">
        <div class="archive-year-wrapper">
            <h2 class="archive-year">2018</h2>
            <ul class="archive-list">
                <li class="archive-item">
                    <img class="u-float-right archive-list-image"
                         src="http://static.fatesinger.com/2018/07/q41ygu4mf9fiiu3e.jpg!/both/48x48/format/webp">
                    <a class="archive-item-title" href="https://fatesinger.com/100277">来自微信的关怀 – 微信官方T恤</a>
                    <div class="archive-item-meta">245 reads / 10 responses</div>
                </li>
                <li class="archive-item"><img class="u-float-right archive-list-image"
                                              src="http://static.fatesinger.com/2018/07/b5kyqq4hset16x3m.JPG!/both/48x48/format/webp"><a
                        class="archive-item-title" href="https://fatesinger.com/100276">乘坐高级软卧是什么样的体验</a>
                    <div class="archive-item-meta">380 reads / 18 responses</div>
                </li>
            </ul>
        </div>
        <div class="archive-year-wrapper">
            <h2 class="archive-year">2017</h2>
            <ul class="archive-list">
                <li class="archive-item">
                    <img class="u-float-right archive-list-image"
                         src="http://static.fatesinger.com/2018/07/q41ygu4mf9fiiu3e.jpg!/both/48x48/format/webp">
                    <a class="archive-item-title" href="https://fatesinger.com/100277">来自微信的关怀 – 微信官方T恤</a>
                    <div class="archive-item-meta">245 reads / 10 responses</div>
                </li>
                <li class="archive-item"><img class="u-float-right archive-list-image"
                                              src="http://static.fatesinger.com/2018/07/b5kyqq4hset16x3m.JPG!/both/48x48/format/webp"><a
                        class="archive-item-title" href="https://fatesinger.com/100276">乘坐高级软卧是什么样的体验</a>
                    <div class="archive-item-meta">380 reads / 18 responses</div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>