<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moondev.blog.mapper.BookMapper">
    <resultMap id="bookMap" type="cn.moondev.blog.model.Book">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="subtitle" property="subtitle"/>
        <result column="author" property="author"/>
        <result column="rating" property="rating"/>
        <result column="tag" property="tag"/>
        <result column="translator" property="translator"/>
        <result column="pages" property="pages"/>
        <result column="douban_id" property="doubanId"/>
        <result column="publisher" property="publisher"/>
        <result column="pubdate" property="pubdate"/>
        <result column="isbn10" property="isbn10"/>
        <result column="isbn13" property="isbn13"/>
        <result column="douban_api" property="doubanApi"/>
        <result column="author_intro" property="authorIntro"/>
        <result column="summary" property="summary"/>
        <result column="small_image" property="smallImage"/>
        <result column="large_image" property="largeImage"/>
        <result column="medium_image" property="mediumImage"/>
        <result column="douban_url" property="doubanUrl"/>
        <result column="jingdong_url" property="jingdongUrl"/>
        <result column="duokan_url" property="duokanUrl"/>
        <result column="year" property="year"/>
        <result column="remark" property="remark"/>
        <result column="remark_url" property="remarkUrl"/>
    </resultMap>

    <select id="count" resultType="java.lang.Long">
        SELECT count(*)
        FROM t_book
        WHERE 1 = 1
        <if test='title != null'>
            AND `title` LIKE "%"#{title}"%"
        </if>
        <if test='author != null'>
            AND `author` LIKE "%"#{author}"%"
        </if>
    </select>

    <select id="find" resultMap="bookMap">
        SELECT id,title,author,translator,rating,tag,publisher,pubdate,medium_image,remark,remark_url,douban_url,jingdong_url,duokan_url,`year`,douban_id
        FROM t_book
        WHERE 1 = 1
        <if test='title != null'>
            AND `title` LIKE "%"#{title}"%"
        </if>
        <if test='author != null'>
            AND `author` LIKE "%"#{author}"%"
        </if>
        ORDER BY id DESC
        limit #{offset}, #{size}
    </select>

    <select id="year" resultMap="bookMap">
          SELECT title,author,rating,douban_image1,tag,douban_url,jingdong_url,duokan_url,remark,remark_url
          FROM t_book
          WHERE `year` = #{year}
      </select>

    <select id="findById">
        SELECT * FROM t_book WHERE `douban_id` = #{doubanId}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
          DELETE FROM t_book WHERE `id` = #{id}
      </delete>

    <insert id="upsert" parameterType="cn.moondev.blog.model.Book">
      INSERT INTO t_book (
            `title`,
            `subtitle`,
            `author`,
            `rating`,
            `tag`,
            `translator`,
            `pages`,
            `douban_id`,
            `publisher`,
            `pubdate`,
            `isbn10`,
            `isbn13`,
            `douban_api`,
            `author_intro`,
            `summary`,
            `small_image`,
            `large_image`,
            `medium_image`,
            `douban_url`,
            `jingdong_url`,
            `duokan_url`,
            `year`,
            `remark`,
            `remark_url`
      ) VALUES (
            #{item.title},
            #{item.subtitle},
            #{item.author},
            #{item.rating},
            #{item.tag},
            #{item.translator},
            #{item.pages},
            #{item.doubanId},
            #{item.publisher},
            #{item.pubdate},
            #{item.isbn10},
            #{item.isbn13},
            #{item.doubanApi},
            #{item.authorIntro},
            #{item.summary},
            #{item.smallImage},
            #{item.largeImage},
            #{item.mediumImage},
            #{item.doubanUrl},
            #{item.jingdongUrl},
            #{item.duokanUrl},
            #{item.year},
            #{item.remark},
            #{item.remarkUrl}
      )ON DUPLICATE KEY UPDATE
            `title` = VALUES(title),
            `subtitle` = VALUES(subtitle),
            `author` = VALUES(author),
            `rating` = VALUES(rating),
            `tag` = VALUES(tag),
            `translator` = VALUES(translator),
            `pages` = VALUES(pages),
            `douban_id` = VALUES(douban_id),
            `publisher` = VALUES(publisher),
            `pubdate` = VALUES(pubdate),
            `isbn10` = VALUES(isbn10),
            `isbn13` = VALUES(isbn13),
            `douban_api` = VALUES(douban_api),
            `author_intro` = VALUES(author_intro),
            `summary` = VALUES(summary),
            `small_image` = VALUES(small_image),
            `large_image` = VALUES(large_image),
            `medium_image` = VALUES(medium_image),
            `douban_url` = VALUES(douban_url),
            `jingdong_url` = VALUES(jingdong_url),
            `duokan_url` = VALUES(duokan_url),
            `year` = VALUES(`year`),
            `remark` = VALUES(remark),
            `remark_url` = VALUES(remark_url)
      </insert>
</mapper>