<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.moondev.blog.mapper.CommentMapper">
    <resultMap id="commentMap" type="cn.moondev.blog.model.Comment">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="author" property="author"/>
        <result column="author_email" property="authorEmail"/>
        <result column="email_hash" property="emailHash"/>
        <result column="author_url" property="authorUrl"/>
        <result column="author_ip" property="authorIp"/>
        <result column="created_time" property="createdTime"/>
        <result column="content" property="content"/>
        <result column="parent_id" property="parentId"/>
        <result column="root_id" property="rootId"/>
    </resultMap>

    <select id="comments4Article" parameterType="java.lang.String" resultMap="commentMap">
        SELECT * FROM t_comment WHERE `article_id` = #{articleId} ORDER BY `created_time` ASC
    </select>

    <insert id="addComment" parameterType="cn.moondev.blog.model.Comment">
        INSERT INTO t_comment (
              `article_id`,
              `author`,
              `author_email`,
              `email_hash`,
              `author_url`,
              `author_ip`,
              `created_time`,
              `content`,
              `parent_id`,
              `root_id`
        ) VALUES (
            #{item.articleId},
            #{item.author},
            #{item.authorEmail},
            #{item.emailHash},
            #{item.authorUrl},
            #{item.authorIp},
            NOW(),
            #{item.content},
            #{item.parentId},
            #{item.rootId}
        )
      </insert>
</mapper>